<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Vue</title>
</head>
<body>
  <script src="./vue.js"></script>
  <div id="app">
    <h1>Hello Vue!</h1>
    <p v-if="ok">OK!</p>
    <p v-else-if='maybeOk'>maybe OK!</p>
    <p v-else>Not OK...</p>
    <p v-if="ok2">OK!</p>
    <hr>

    <template v-if='tOk'>
      <p>Hello</p>
      <p>Good Bye</p>
      <p>おはよう</p>
    </template>
    <p v-show="tOk">Show</p>
    <button @click='tOk = !tOk'>ボタン</button>
    <hr>

    <ul>
      <template v-for="fruit in fruits">
        <li>
          <p>{{ fruit }}</p>
          <hr>
        </li>
      </template>
    </ul>

    <ul>
      <li v-for="(fruit, index) in fruits">({{ sum(index) }}){{ fruit }}</li>
    </ul>

    <ul>
      <li v-for="(value) in object">{{ value }}</li>
    </ul>

    <ul>
      <li v-for="(value, key, i) in object">({{ i }}){{ key }}-{{ value }}</li>
    </ul>

    <ul>
      <li v-for="n in 10">{{ n }}</li>
    </ul>

    <ul>
      <li v-for="n of 10">{{ n }}</li>
    </ul>

    <hr>

    <!-- key属性使用時にはtemplateタグは非推奨 今回の場合は配列の項目を削除するため順番が変わるのでindexも非推奨 -->
    <div v-for="fruit in fruits" :key="fruit">
      <p>{{ fruit }}</p>
      <input type="text">
    </div>
    <button @click="remove">先頭を削除</button>

  </div>
  <script>
    new Vue ({
      el: '#app',
      data: {
        ok: true,
        ok2: false,
        maybeOk: true,
        tOk: true,
        fruits: ['リンゴ', 'バナナ', 'ブドウ'],
        object: {
          firstName: 'Taro',
          lastName: 'Tanaka',
          age: 21,
        },
      },
      methods: {
        sum: function(i) {
          return i = i + 1;
        },
        remove: function () {
          this.fruits.shift();
        },
      },
    });
  </script>
</body>
</html>
